<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vue.js</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <style type="text/css" media="screen">
    .ookk {
      text-decoration: line-through;
      color: red;
    }
  </style>
  <style type="text/css">
    .done {
      text-decoration: line-through;
      color: red;
    }
    .section01 {background-color: #ccc;}
    .section02 {background-color: #ffc;}
    .section03 {background-color: #00c;}
  </style>
</head>
<body>
 <section id="app" class="container">
   <div class="tt">
<h1>Vue.js</h1>
</div>
  <ul class="list-unstyled">
    <li v-for="todo in todos" v-bind:class="[todo.classnum]">
         <h2>{{todo.tit}}</h>
          <p>{{todo.text}}</p>
    </li>
  </ul>
</section>
 <section id="app02" class="container">
   <div class="tt">
<h1>Vue.js</h1>
</div>
  <ul class="list-unstyled">
    <li v-for="todo in result" v-bind:class="[todo.classnum]">
         <h2>{{todo.tit}}</h>
          <p>{{todo.text}}</p>
    </li>
  </ul>
</section>
<div id="app03" v-cloak>
  <div v-if="!error">
    <ul>
      <li v-for="item in result">
        <p>{{ item.text }}</p>
      </li>
    <ul>
  </div>
  <p v-else-if="error">通信エラーが発生しました。しばらく時間をおいてから再度お試しください。</p>
</div>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
 <script type="text/javascript">
   var app = new Vue({
    el: '#app',
    data:  {
      todos : [
      {text:'あの日みた夕日', classnum:'section01',tit:'もしくは'},
      {text:'あの日みた夕日', classnum:'section02',tit:'世界が滅びる話。'},
      {text:'あの日みた夕日', classnum:'section03',tit:'ノアと箱舟の話'}
      ]
    },
      methods: {
        addTodo: function() {
          var newTodo = this.todoTxet.trim();
          if(!newTodo) { return; }
          this.todos.push(
            {text:'あの日みた夕日', classnum:'section01',tit:'もしくは'}
            );
          this.todoTxet = '';
        },
        archive: function(){
          var remains = [],todos = this.todos;
          for (var i = 0; i < todos.length; i++) {
            var todo = todos[i];
            if(!todo.done){
              remains.push(todo);
            }
            this.todos = remains;
          }
        },
        removeTodo: function(todo){
          var todos = this.todos,index = todos.indexOf(todo);
          todos.splice(index, 1);
        }
      },
      computed: {
       remaining: function(){
        var count = 0,
            todos = this.todos;
       for (var i = 0; i < todos.length; i++) {
        if(!todos[i].done){
          count ++;
        }
       }
       return count;
      }
     }
   });
var mixin = {
    ajax : {
      data : {
        error : 0,
        loading: true,
        result :{}
    },
    methods:{
     getData:function(){
        var _this = this;
        _this.loading = true;
          console.log('more');
        $.ajax({
          url: _this.request.url,
          type: 'GET',
          dataType:'JSON',
          timeout : 30000,
          data:_this.request.data
        }).done (function(response){
          _this.error = 0;
          _this.loading = false;
          _this.result = response;
        }).fail(function(error){
          if (_this.error <= 5){
            _this.error++;
            _this.getData();
          }else{
            _this.error = true;
            _this.loading = false;
          }
          console.log('erro');
        });
      }
    },
    mounted:function(){
    this.getData();
    }
   }
}
   var ur = 'http://tkwebwd.xyz/p/se.json';
   var ap = new Vue({
    el: '#app02',
    mixins : [mixin.ajax],
    data:  {
      request:{
        url: ur,
        data:{
          data:'20180210'
        }
      }
      //-todos : []
    }
   });
var mixin = {
  ajax:{
    data:{
      error:0, //エラー状態
      loading:true, //通信状態
      result:{} //取得結果格納用
    },
    methods:{
      getData:function(){
        var _this = this;
        _this.loading = true;
          console.log(_this);
        $.ajax({
          url: _this.request.url,
          type: 'GET',
          dataType: 'JSON',
          timeout : 30000,
          data:_this.request.data
        })
        .done(function(response) {
          //結果をresultに格納、各種状態管理用の変数を完了ステータスに変更
          _this.error = 0;
          _this.loading = false;
          _this.result = response;
        })
        .fail(function(error) {
          //通信エラー時の再試行。
          //再試行回数が指定数に達した場合は状態管理用の変数を更新しAjaxを停止
          if(_this.error <= 5){
            _this.error++;
            _this.getData();
          }else{
            _this.error = true;
            _this.loading = false;
          }
          console.log('ダメですね。');
        });
      }
    },
    mounted:function(){
      //Ajaxを実行
      this.getData();
    }
  }
}

var app = new Vue({
  el:'#app03',
  mixins: [mixin.ajax],
  data:{
    request:{
      url:'http://tkwebwd.xyz/p/se.json', //呼び出しurl
      data:{ //リクエストデータ
        date:'2017/12/31'
      }
    }
  }
});
 </script>
</body>
</html>